<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>voting.com</title>
        {%load static%}
        <link rel="stylesheet" href="{%static 'main.css'%}">
    </head>
    <body>
        {%include 'nav.html'%}
        <form action="pos/" class="rules">

        <button type="submit">RULES</button> 
    </form>
    <form method="post" class="vote-select">
        {%csrf_token%}
        <label for="name">Choose a Organization:</label>
        <select name="name" id="pos">
            <option value="rog">------</option>
            {%for i in org%}
            <option value="{{i}}">{{i}}</option>
            {%endfor%}
        </select>
        <p><input type="submit" class="submit"></p>
    </form>
    </body>

</html>