*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: 600;
    background-color:#202124;
    height: 100vh;
    font-weight: 600;
    display:flex;
    align-content: space-between;
    flex-direction: column;
}


.home{

    padding: 20px 20px 30px 0px;
    outline: solid;
    left: 0%;
    top: 0%;
    right: 0%;
    position:fixed;
    background-color: #333;
    font-size: x-large;
    color: #bdc1c6;  
    z-index: 1;
}
.ho{
    outline: solid;
    text-decoration: none;
    color: #bdc1c6;
    padding: 20px 20px 30px 20px;
}
.ho:hover{
    background-color: white;
    color: #333;
    outline-color: #333;
 }
 .comp{
    position:absolute;
    right: 0%;
    top: 0%;
    outline: solid;
    text-decoration: none;
    color: #bdc1c6;
    padding: 20px 40px 30px 40px;
    z-index: 1;
}
.func{
    font-size: x-large;
    position:absolute;
    right: 0%;
    top: 0%;
    font-weight: 600;
    padding: 20px 40px 30px 40px;
    background-color: #333;
    border: #bdc1c6;
    color: #bdc1c6;
    outline: solid;
    font-family:"Times New Roman", Times, serif;
    z-index: 1;
 }

 .divv{
    position: fixed;
    display: none;
    padding: 10px;
    outline: solid;
    border-radius: 25px;
    right: 1%;
    top: 100px;
    color: #bdc1c6;
 }
 
 .out{
    font-size: medium;
    padding: 5px 40px 5px 40px;
    color: #bdc1c6;
    text-decoration: none;
    border-radius: 25px
 }
 .out:hover{
    
    background-color: white;
    color: #333;

 }
 .menu{
    display: flex;
    left: 0%;
    position: fixed;
    float: left;
    background-color: #333;
    top: 80px;
    bottom: 0%;
    color: #bdc1c6;
    outline: solid;
    padding: 0px 29px 0px 30px;
    flex-direction: column;
    z-index: 1;
 }
 .hom{
   font-size: large;
   padding:40px 0px 5px 0px;
   background-color: #333;
   color: #bdc1c6;

}
.cre{
 font-size: large;
 text-decoration: none;
 padding: 5px 0px 5px 0px;
 background-color: #333;
 color: #bdc1c6;

}
 .mod{
    
    font-size: large;
    padding: 5px 0px 5px 0px;
    text-decoration: none;
    background-color: #333;
    color: #bdc1c6;

 }
 .voter{
    padding: 5px 0px 5px 0px;
    font-size: large;
    text-decoration: none;
    background-color: #333;
    color: #bdc1c6;

 }
 .miner{
    padding: 5px 0px 5px 0px;
    font-size: large;

    text-decoration: none;
    background-color: #333;
    color: #bdc1c6;

 }
 
.container {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    left: 1%;
    top: 88px;
    outline: solid;
    color: #bdc1c6;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 3px;
    background-color:#bdc1c6;
    margin: 4px 0;
  }
  .change .bar1 {
   transform: translate(0, 7px) rotate(-45deg);


 }
 
 .change .bar2 {opacity: 0;}
 
 .change .bar3 {
   transform: translate(0, -7px) rotate(45deg);
 } 
 .og{
   color: #bdc1c6;
   font-size:large;
   outline: solid;
   padding: 10px;
   position: relative;
   width: 220px;
   top: 100px;
   left: 170px;
  }
  .ro{
   outline: solid;
   background-color: #333;
   font-weight: 600;
   border-radius: 10px;
   padding: 10px;
   margin: 2px;
  }
.empty{
   display: flex;
   flex-direction: column;
   position: relative;
   top: 50px;
   margin-right: auto;
   margin-left: auto;
   color: #bdc1c6;
   font-size: x-large;
   outline: solid;
   padding: 15px;
   align-items: center;
   border-radius: 10px;
}
.subb{
   margin-top: 10px;
   padding: 5px 10px 5px 10px;
}
#myChart{
   position: relative;
   top: 100px;
   left: 220px;
outline:white solid;}
.est{
   position: relative;
   width: 300px;
   margin-left: auto;
   margin-right: auto;
   top: 50px;
   color: #bdc1c6;
   outline: solid;
   border-radius: 10px;
   padding: 5px;
   align-items: center;
   display: flex;
   flex-direction: column;
   font-size: larger;
}
#myart{
   position: relative;
   left: 600px;
   top: -300px;
   outline:white solid;
}
#myrat{
   position: relative;
   top: -300px;
   left: 220px;
   min-height: 300px;
   color: #bdc1c6;
   outline:white solid;
}
.whatever{
   top: 180px;
   color: #bdc1c6;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   font-size: large;
}
.empt{
   
   display: flex;
   flex-direction: column;
   position: relative;
   top: 200px;
   margin-right: auto;
   margin-left: auto;
   color: #bdc1c6;
   font-size: x-large;
   outline: solid;
   padding: 15px;
   align-items: center;
   border-radius: 10px;

}
.itle{
   position: relative;
   background-color: #333;
   justify-content: center;
   color: white;
   display: flex;
   width: 1080px;
   top: 100px;
   left: 220px;
   font-size: x-large;
   padding: 10px 0px 5px 0px;
   outline:white solid;
}