@import url('demo.css');
body{
    font-family:"Times New Roman", Times, serif;
    font-size: 14px;
    background-color:#202124;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
}


.top{  
    font-size: 24px;
    font-weight: 500;
    color: #bdc1c6;
    padding: 4px 4px 4px 4px;
}



.form{
   background-color: #333;
   padding-top: 20px;
   padding-right: 70px;
   padding-bottom: 20px;
   padding-left: 50px;
   outline-style:groove;  
   border-radius: 25px;
   outline-color:#bdc1c6 ;
}
.submit{
   color: white;
   background-color: green;
   padding: 8px 12px 8px 12px;
   border-radius: 25PX;
   left: 35%;
   position:relative;
   transition: padding 30ms;
   margin-top: 20px;
}
.submit:hover{
   padding:8px 14px 8px 14px;
}
.query{
   position: absolute;
   bottom: 10px;
   color: white;
}
.vo{
   padding: 4px 4px 4px 4px;
   margin: 1px 1px 1px 1px;
   outline-style: none;
   border-radius: 25px;
   transition:30ms;
   font-size: x-large;
   color: #bdc1c6;
   align-items: center;
   position: relative;

}
.vo:hover{
   padding:4px 8px 4px 8px;
   outline-style:solid;
}
.query{
   color: white;
   bottom: 10px;
   left: 450px;
}
